<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">

	<sitecore>
		<!--<sc.variable name="foundationFolder" value="D:\Projects\SUGDK\sug_xwrap\src\Foundation" role:require="Standalone or ContentManagement" />
		<sc.variable name="featureFolder" value="D:\Projects\SUGDK\sug_xwrap\src\Feature" role:require="Standalone or ContentManagement" />
		<sc.variable name="projectFolder" value="D:\Projects\SUGDK\sug_xwrap\src\Project" role:require="Standalone or ContentManagement" />

		<sc.variable name="configurationFolder" value="serialization" role:require="Standalone or ContentManagement" />-->
	</sitecore>
</configuration>